/*PdfView.css*/
.pdf-view-container {
    background-color: #1a1a1a;
    min-width: 240px;
    max-width: 100%;
    min-height: 880px;
    border-radius: 10px;
}

.buildingSection {
  padding: 20px;
  gap: 10px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

.buildingSection .input {
  display: flex;
  flex-direction: column;
  gap: 20px;
  flex: 1;
}

.buildingSection > .pdfView {
  height: 600px;
  flex: 1;
}