.skills-section {
  background-color: #1a1a1a;
  border-radius: 10px;
}

.skills-button {
  cursor: pointer;
  user-select: none;
  padding: 20px;
  height: 100%;
  font-size: 1.6rem;
  font-weight: 500;
}

.skills-section img {
  height: 28px;
  filter: invert(100%) brightness(200%);
  transition: transform .2s;
}

.skills-section img.open {
  transform: rotate(180deg);
}

.skills-sub-section {
  padding: 0 10px;
  display: flex;
  overflow: hidden;
  user-select: none;
  opacity: 0;
  max-height: 0;
  transition: all 0.1s allow-discrete ease-in;
  will-change: all;
}

.skills-sub-section.open {
  opacity: 1;
  max-height: fit-content;
  padding: 10px;
}

.skills-sub-section img {
  height: 12px;
}

.skills-sub-section button {
  background-color: #2b2b2b;
}
